<html>
  <head>
    <title>Searchfront Explorer</title>
    <script src="/static/leaflet-src.js"></script>
    <script src="/static/leaflet.timeline.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <link href="/static/leaflet.css" rel="stylesheet">

    <style>
      html, body{
        margin: 0;
        padding: 0;
      }
      #map{
        width: 100vw;
        height: 100vh;
      }
      .leaflet-bottom.leaflet-left{
        width: 100%;
      }
      .leaflet-control-container .leaflet-timeline-controls{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
      }
      .myclass {
        transition: all 0.25s
      }
      .leaflet-tile-pane {
        opacity: 0.25
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script>
      var osmUrl = 'http://www.openptmap.org/tiles/{z}/{x}/{y}.png';
      var osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';
      var osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
      var map = L.map('map', {layers: [osm], center: new L.LatLng(0,0), zoom: 2 });
      map.keyboard.disable()
      var timeline;
      var timelineControl;

      var geojsonMarkerOptions = {
          radius: 8,
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
      };

      function featureToTooltip(feature){
        var tooltip = ""
        var properties = feature.properties;
        var firstProperty = true;
        for (var propName in properties) {
          if (!properties.hasOwnProperty(propName)) continue;
          var property = properties[propName];
          if (typeof(property) === "object") continue;
          if (!firstProperty) tooltip += "<br />";
          firstProperty = false;
          tooltip += `${propName}: ${properties[propName]}`;
        }
        return tooltip;
      }


      function createTimeLine(data){
        var datacolor = data.properties.color;
        timeline = L.timeline(data, {
          style: function(data){
            return {
              stroke: true,
              color: "white",
              fillOpacity: 0.75,
              className: "myclass"
            }
          },
          waitToUpdateMap: true,
          getInterval: function(feature) {
            return feature.properties.timeframe;
          },
          onEachFeature: function(feature, layer) {
            layer.bringToFront();
            setTimeout(function() {
              layer.setStyle({color: datacolor});
            }, 100);
            layer.bindTooltip(featureToTooltip(feature));
          },
          pointToLayer: function(feature, latlng) {
            return L.circleMarker(latlng, geojsonMarkerOptions);
          }
        });
        var timelinename = data.properties.name;
        return {"name": timelinename, "timeline": timeline};
      }

      var controlElements = Array();

      function clearSearchFront()
      {
        controlElements.forEach(function(el) {
          el.remove();
        })
      }

      function addToMap(el) {
        el.addTo(map);
        controlElements.push(el);
      }

      var preloadUrl = "{{preloadUrl}}";

      function onLoadData(data){
        clearSearchFront();

        var timelines = data.map(function(featureCollection){
          return createTimeLine(featureCollection);
        });

        timelineControl = L.timelineSliderControl({
          formatOutput: function(date) {
            return new Date(date).toLocaleDateString();
          },
          enableKeyboardControls: true,
        });
        var layers = {};
        timelines.forEach(function(val){
          layers[val.name] = val.timeline;
        });
        addToMap(L.control.layers({"osm": osm}, layers));
        addToMap(timelineControl)
        timelines.forEach(function(t) {
          addToMap(t.timeline);
          timelineControl.addTimelines(t.timeline);
        });
      }

      var sourceLocation;

      map.on('click', function(e) {
          var loc = e.latlng;
          if(!sourceLocation) {
              sourceLocation = loc;
          } else {
              var time_t = Math.floor(new Date().getTime() / 1000);
              var routeUrl = `/searchfront/${sourceLocation.lat},${sourceLocation.lng}:${loc.lat},${loc.lng}@${time_t}`
              $.getJSON(routeUrl, onLoadData);
              sourceLocation = null;
          }
      });

      var alexanderplatz = {"lat": 52.521537, "lon": 13.411525};
      map.setView(center=alexanderplatz, zoom=12);

      if (preloadUrl)
      {
          $.getJSON(preloadUrl, onLoadData);
      }
    </script>
  </body>
</html>
